/* .myForm {
    background-color: orangered;
    width: 50%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2vw;
} */


/* --------------------------------------------------------------- */

/* form {
    width: 46%;
    margin: auto;
    background-color: #eee;
    text-align: center;
    padding: 10px;
    
}

input, .input {
    display: block;
    width: 90%;
    margin:10px auto;
    padding: 2px;
    
}

input[type="submit"] {
    background-color: rgb(0, 255, 170);
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
}

.results {
    width: 500px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results div, .results section {
    background-color: orangered;
    margin: 10px;
    width: 25%;
    border: 1px solid  #777070;
    border-radius: 2px;
} */


/* --------------------------------------------------- */


/* body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .assign {
    text-align: center;
    padding-top: 20px;
  }
  .assign input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
  }
  .assign input:focus {
    outline: none;
    border-color: #ccc;
  }
  .assign [title="Current"] {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
  }
  .assign .classes-list {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
  }
  .assign .classes-list h5 {
    margin: 0 0 10px;
    text-align: left;
  }
  .assign .classes-list div span {
    background-color: #ff5722;
    padding: 6px 10px 8px;
    margin-right: 5px;
    border-radius: 6px;
    color: white;
    display: inline-flex;
  } */

/* ------------------------------------------- */

/* a {
  display: block;
  width: 80px;
  background-color: black;
  margin: 10px;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  color: orangered;
}
a:visited {
  color: yellow;
} */
/* ----------------------------------------------- */


/*
 * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("//unsplash.it/1000");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color:#eeeeee6c;
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  box-shadow: 3px 3px 20px gray, -3px -3px 20px gray;
  border-radius: 5px;
  transition:all 4000ms;
  display: none;

}

input {
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  right:0;
  top: 0;
  transform: translate(40%, -30%);
  cursor: pointer;
} */

/* -------------------------------------------------------- */
/* 
.exp {
  width: 200px;
  height: 150px;
  background-color: red;
}


ul {
  display: flex;
  justify-content: flex-start;
}
li {
  width: 40px;
  height: 40px;
  list-style: none;
}

ul li {
background-color: red;
}

li:first-child {
  background-color: blue;
}

li:last-child {
  background-color: black;
} */
/* ------------------------------------------------------------ */
/* failedddddddddddddddddddddddddddddddddddd */
/* * {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: white;
  height: 100vh;
  gap: 20px;

}


.form {
  background-color: #eee;
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 60% ;
}

.input {
  padding: 10px;
  flex-grow: 0.9;
  
}

.add {
  padding: 10px;
  background-color: orangered;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.tasks {
  background-color: #eee;
  width: 60%;
  min-height: 70px;
  padding: 0 10px;
} */

/* ------------------------------------------------------- */



/* .container * {
  padding: 10px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  color: green;
} */

/* ------------------------------------------------------------- */























































































