/* .myForm {
    background-color: orangered;
    width: 50%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2vw;
} */


/* --------------------------------------------------------------- */

/* form {
    width: 46%;
    margin: auto;
    background-color: #eee;
    text-align: center;
    padding: 10px;
    
}

input, .input {
    display: block;
    width: 90%;
    margin:10px auto;
    padding: 2px;
    
}

input[type="submit"] {
    background-color: rgb(0, 255, 170);
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
}

.results {
    width: 500px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results div, .results section {
    background-color: orangered;
    margin: 10px;
    width: 25%;
    border: 1px solid  #777070;
    border-radius: 2px;
} */


/* --------------------------------------------------- */


/* body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .assign {
    text-align: center;
    padding-top: 20px;
  }
  .assign input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
  }
  .assign input:focus {
    outline: none;
    border-color: #ccc;
  }
  .assign [title="Current"] {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
  }
  .assign .classes-list {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
  }
  .assign .classes-list h5 {
    margin: 0 0 10px;
    text-align: left;
  }
  .assign .classes-list div span {
    background-color: #ff5722;
    padding: 6px 10px 8px;
    margin-right: 5px;
    border-radius: 6px;
    color: white;
    display: inline-flex;
  } */

/* ------------------------------------------- */

/* a {
  display: block;
  width: 80px;
  background-color: black;
  margin: 10px;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  color: orangered;
}
a:visited {
  color: yellow;
} */
/* ----------------------------------------------- */


































